{% extends 'base.html' %}

{% block content %}
<section class="welcome-area">
  <div class="welcome-slides">
    <div class="single-welcome-slide">
        <div class="welcome-content h-100">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 col-md-6">
                        <div class="welcome-text">
                            <h2><span>Privacy-preserving</span> deep neural network</h2>
                            <h5>Train model on federated data to diagnose patients with diabetes...</h5>
                            <form action="train" method="POST">
                                <label for="customRange1">Partition ratio</label>
                                <input type="range" class="custom-range" min="0" max="1" step="0.1" name="partition.value">
                                <div class="d-flex justify-content-center">
                                    <input type="submit" value="Start Training" class="btn train-btn">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="welcome-thumbnail">
                            <img src="{{ url_for('static', filename='dataflow.jpg') }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>
{% endblock %}