{% extends 'base.html' %}

{% block content %}
<section class="progress-area">
	<div class="container h-100">
        <div class="col-12 col-md-6">
            <h1>Diabetes diagnosis</h1>
			<div id="log"></div>
            <a href="{{ url_for('testModel') }}" class="btn train-btn collapse" id="test-btn">Test Model</a>
        </div>
    </div>
</section>
<script>
	$(document).ready(function() {
		var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
		socket.on('message', function(msg) {
            $('#log').append('<h5>'+$('<div/>').text(msg.data).html()+'</h5>');
        });
        socket.on('accuracy', function(msg) {
            $('#log').append('<h5>'+$('<div/>').text(msg.data).html()+'</h5>');
            $('#test-btn').removeClass('collapse');
        });
	})
</script>
{% endblock %}