{% extends 'base.html' %}

{% block content %}
<section class="progress-area">
	<div class="container h-100">
        <form id="test" method="POST" action='#'>
	        <input type="text" name="age" id="age" placeholder="Age">
	        <input type="text" name="preg" id="preg" placeholder="Pregnancies">
	        <input type="text" name="gluc" id="gluc" placeholder="Glucose">
	        <input type="text" name="bp" id="bp" placeholder="Blood Pressure">
	        <input type="text" name="skin" id="skin" placeholder="Skin Thickness">
	        <input type="text" name="ins" id="ins" placeholder="Insulin">
	        <input type="text" name="bmi" id="bmi" placeholder="BMI">
	        <input type="text" name="dpf" id="dpf" placeholder="Diabetes Pedigree Function">
	        <input type="submit" value="Get diagnosis">
	    </form>
	    <div id="prediction"></div>
    </div>
</section>
<script>
	$(document).ready(function() {
		var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
        socket.on('prediction', function(msg) {
            $('#prediction').empty()
            output = 'Patient has diabetes.'
            if (msg.data == 0) {
                output = 'Patient does not have diabetes.'
            }
            $('#prediction').append('<h5>'+$('<div/>').text(output).html()+'</h5>');
        });
        $('form#test').submit(function(event) {
        	X_test = [parseInt($('#preg').val()), parseInt($('#gluc').val()), parseInt($('#bp').val()), parseInt($('#skin').val()), parseInt($('#ins').val()), parseFloat($('#bmi').val()), parseFloat($('#dpf').val()), parseInt($('#age').val())]
            socket.emit('test', { data:  X_test});
            return false;
        });
	})
</script>
{% endblock %}