* {
	margin: 0;
	padding: 0; 
}
body {
	font-family: "Aileron";
	font-weight: 400;
	font-size: 14px; 
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Aileron";
	color: #303030;
	line-height: 1.4;
	font-weight: 600; 
}
.container {
	margin-left: 20px;
}
.single-welcome-slide .welcome-text {
    position: relative;
}
.single-welcome-slide .welcome-text h2 {
    font-size: 45px;
    display: block;
    margin-bottom: 30px;
}
.single-welcome-slide .welcome-text h2 span {
	font-size: 48px;
    color: #2e73b8;
}
.single-welcome-slide .welcome-text h5 {
    font-size: 22px;
    color: #a6a6a6;
    margin-bottom: 60px;
    display: block;
}
.train-btn {
    background-color: #2e73b8;
    color: #fff;
    position: relative;
    min-width: 160px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    padding: 0 30px;
    text-align: center;
    text-transform: capitalize;
    border: none;
    border-radius: 50px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    -webkit-box-shadow: 0 6px 50px 8px rgba(46,115,184,.15);
    box-shadow: 0 6px 50px 8px rgba(46,115,184,.15);
}
.train-btn:hover {
	background-color: #ffffff;
	color: #2e73b8;
}
.arrows {
    height: 100px;
    margin-bottom: 10px;
}
.arrow, .arrow1 {
    width: 100px;
    height: 100px;
    position: relative;
}
.left-arrow .arrow-head:before {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 4px solid #000;
    border-left: 4px solid #000;
}
.right-arrow .arrow-head:after {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 4px solid #000;
    border-right: 4px solid #000;
}
.right-arrow1 .arrow-head:before {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: -15px;
    left: -1px;
    border-top: 4px solid #000;
    border-left: 4px solid #000;
}
.left-arrow1 .arrow-head:before {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: -15px;
    right: -1px;
    border-top: 4px solid #000;
    border-right: 4px solid #000;
}
.arrow:before, .arrow1:before {
    position: absolute;
    content: "";
    bottom: 55px;
    border-top: 4px solid;
}
.left-arrow:before, .left-arrow1:before {
    left: -14px;
    right: -15px;
    transform:rotate(-30deg);
}
.right-arrow:before, .right-arrow1:before {
    left: -15px;
    right: -14px;
    transform:rotate(30deg);
}
blink {
    font-weight: 600;
    -webkit-animation: 1s linear infinite condemned_blink_effect; // for android
    animation: 1s linear infinite condemned_blink_effect;
}
@-webkit-keyframes condemned_blink_effect { // for android
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
@keyframes condemned_blink_effect {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
.bg-secondary span, .arrow-text {
    font-weight: 600;
}
.tooltip-text {
  visibility: hidden;
  white-space: nowrap;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 2px 8px;
  position: absolute;
  z-index: 1;
  top: -2px;
  left: 130%;
}
.tooltip-text::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -4px;
  border-width: 4px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.d-inline-block:hover .tooltip-text {
  visibility: visible;
}